.report-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.report-header {
  margin-bottom: 30px;
}

.report-header h4 {
  font-size: 32px;
  margin-bottom: 10px;
}

.report-header p {
  font-size: 18px;
  color: #555;
}

.report-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.report-card-body {
  padding: 20px;
}

.report-card-body p {
  font-size: 16px;
  color: #333;
}

.report-card-body ul {
  list-style-type: none;
  padding-left: 0;
}

.report-card-body ul li {
  font-size: 14px;
  color: #666;
}



.grid-container.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}


.reject-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}


.report-details, .same-author-reports-card-body {
  padding: 15px;
}

.report-details h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.report-details p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.report-details ul {
  margin-top: 10px;
}

.card-header h4,
.card-header h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-header p {
  font-size: 16px;
  color: #777;
}


