<div class="goodbye-container">
  <h2><i>"We only part to meet again."</i> – John Gay</h2>
  <h4>We're sorry to see you go.</h4>
  <h4>We at COMNIBUS always strive to provide the best experience possible, and your feedback is important to us.</h4>
  <h4>Going forward, we will take your feedback and use it to make a better experience for our users.</h4>
  <h4>If you ever change your mind, we'll be here, ready to welcome you back with open arms.</h4>
  <h4>Thank you for being a part of our community. Wishing you all the best in everything you do!</h4>
  <h4>If you have any questions or concerns, feel free to reach out to us.</h4>
  <h4>Sincerely,</h4>
  <h3>The Team at COMNIBUS</h3>
</div>
