<div class="container">

  <div *ngIf="isLoading" class="loading">Loading users...</div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <h2>Book Requests</h2>

  <table *ngIf="requests.length > 0" class="table table-bordered mt-3">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genres</th>
        <th>Language</th>
        <th>Series</th>
        <th>ISBN</th>
        <th>Requested By</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests"  style="cursor: pointer" [routerLink]="['/requests', request._id]">
        <td>{{ request.title }}</td>
        <td>{{ request.author }}</td>
        <td>{{ request.genres }}</td>
        <td>{{ request.language }}</td>
        <td>{{ request.series || 'N/A' }}</td>
        <td>{{ request.isbn || 'N/A' }}</td>
        <td>{{ request.username }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!isLoading && requests.length === 0" class="text-muted">
    No book requests found.
  </p>

  <div class="pagination-controls mt-3">
    <button class="btn btn-secondary" (click)="prevPage()" [disabled]="page === 1">
      Previous
    </button>
    <span class="mx-3">Page {{ page }}</span>
    <button class="btn btn-secondary" (click)="nextPage()">
      Next
    </button>
  </div>
</div>
