<div class="current-reads-container" *ngIf="!loading">
  <h2>Your Current Reads</h2>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="currentReads.length === 0" class="no-books">
    <p>No books in your current reading list.</p>
  </div>

  <div *ngFor="let book of currentReads" class="book-item">
    <div class="book-cover">
      <img [src]="book.coverImg" alt="{{ book.title }} cover">
    </div>
    <div class="book-info">
      <h3>{{ book.title }}</h3>
      <p><strong>Author:</strong> {{ book.author }}</p>
      <p><strong>Progress:</strong> {{ book.progress }}%</p>
      <p><strong>Current Page:</strong> {{ book.current_page }} / {{ book.total_pages }}</p>

      <div class="actions">
        <!-- Displaying an input field for manual page number input -->
        <label for="current-page-{{ book._id }}">Enter Current Page:</label>
        <input
          type="number"
          id="current-page-{{ book._id }}"
          [(ngModel)]="book.manualPage"
          min="1"
          max="{{ book.total_pages }}"
          placeholder="Page number"
        >
        <button
          *ngIf="book.manualPage"
          (click)="updateReadingProgress(book._id, book.manualPage)">
          Update Progress
        </button>

        <button (click)="removeFromCurrentReads(book._id)">
          Remove from Current Reads
        </button>


      </div>

    </div>
    <button class="btn btn-outline-dark mt-2" (click)="toggleRateForm(book)">
      I've finished this book
    </button>

    <!-- Rating form visibility controlled per book -->
    <div *ngIf="book.showRateForm">
      <form [formGroup]="rateForm" (ngSubmit)="markAsRead(book._id)">
        <label for="stars">Please provide a rating (between 1 and 5)</label>
        <select name="stars" id="stars" class="form-control" formControlName="stars">
          <option [value]="0.5">1/2 star</option>
          <option [value]="1">1 star</option>
          <option [value]="1.5">1 <sup>1</sup>&frasl;<sub>2</sub> stars</option>
          <option [value]="2">2 stars</option>
          <option [value]="2.5">2 <sup>1</sup>&frasl;<sub>2</sub> stars</option>
          <option [value]="3">3 stars</option>
          <option [value]="3.5">3 <sup>1</sup>&frasl;<sub>2</sub> stars</option>
          <option [value]="4">4 stars</option>
          <option [value]="4.5">4 <sup>1</sup>&frasl;<sub>2</sub> stars</option>
          <option [value]="5">5 stars</option>
        </select>
        <label for="date_read">Completed:</label>
        <input type="date" id="date_read" class="form-control" formControlName="date_read">
        <button type="submit" class="btn btn-outline-dark mt-2">Submit Rating</button>
      </form>
    </div>
</div>

<div class="loading" *ngIf="loading">
  <p>Loading...</p>
</div>
