<div class="container">

  <div *ngIf="isLoading" class="loading">Loading users...</div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <h2>Feedback by Users</h2>
  <h3>Take their feedback into consideration.</h3>

  <table *ngIf="user_feedback.length > 0" class="table table-bordered mt-3">
    <thead class="thead-dark">
      <tr>
        <th>Deleted User</th>
        <th>Reason</th>
        <th>Deleted at</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feedback of user_feedback">
        <td>{{ feedback.username }}</td>
        <td>{{ feedback.reason }}</td>
        <td>{{ feedback.timestamp }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!isLoading && user_feedback.length === 0" class="text-muted">
    No user user_feedback found.
  </p>


</div>
