<div class="messages-container" style="margin-top: 80px;">
  <h1>All Messages</h1>

  <!-- Displaying messages -->
  <div *ngIf="messages.length > 0; else noMessages">
    <div *ngFor="let message of messages; trackBy: trackMessage" class="message-card">
      <p>{{ message.content }}</p>
      <p><strong>Sent at:</strong> {{ message.timestamp }} <button (click)="showMessage(message._id)">Show</button>
        <button (click)="deleteMessage(message._id)">Delete</button></p>

    </div>
  </div>

  <ng-template #noMessages>
    <p>No messages available.</p>
  </ng-template>
</div>
