<div class="container book-container" style="margin-top: 80px;" *ngIf="book">
  <div class="row">
    <!-- Display the main book details -->
    <div class="col-sm-12">
      <div class="card text-dark bg-light mb-3 book-card">

        <div class="card-header book-header">
          <div *ngIf="authService.isAdmin() || authService.isAuthor()">
            <button (click)="deleteBook(book)" class="btn btn-danger">Delete Book</button>
          </div>

          <div *ngIf="!isEditingTitle">
            <h3>{{ book.title }}</h3>
            <div *ngIf="authService.isAdmin() || authService.isAuthor()"><button (click)="toggleEditTitle()">Edit Title</button></div>
          </div>

          <div *ngIf="isEditingTitle">
            <form [formGroup]="editBookFormTitle" (ngSubmit)="onSaveTitle()">
              <input formControlName="title" placeholder="Enter new title" />
              <button type="submit">Save</button>
              <button type="button" (click)="toggleEditTitle()">Cancel</button>
            </form>
          </div>
          <p><strong>Author:</strong>
            <span *ngFor="let author of book.author?.length ? book.author : [] ; let isLast = last">
              <button (click)="filterByAuthor(author)" class="btn btn-link">
                {{ author }}
              </button>
              <span *ngIf="!isLast">, </span>
            </span>

          </p>
          <p>
            <span *ngIf="authService.isLoggedIn()">
              <span *ngFor="let star of getStarCount(userBookRating)">
                <img *ngIf="star === 0" src="images/star.png" alt="Full Star" style="width: 30px; height: 30px;">
                <img *ngIf="star === 0.5" src="images/half_star.png" alt="Half Star" style="width: 15px; height: 30px;">
              </span>
            </span>
          </p>

          <button class="btn btn-outline-dark mt-2" *ngIf="!isCurrentlyReading" (click)="currentlyReading()">Currently Reading</button>
          <button class="btn btn-outline-dark mt-2" *ngIf="isCurrentlyReading" (click)="removeFromCurrentReads(book._id)">Remove from Current Reads</button>
          <button *ngIf="!isMarkedAsRead" class="btn btn-outline-dark mt-2" (click)="toggleRateForm()">Mark as Read</button>
          <button *ngIf="isMarkedAsRead" class="btn btn-outline-dark mt-2" (click)="removeFromMarkAsRead(book._id)">Remove From Have Read</button>
          <div *ngIf="showRateForm">
            <form [formGroup]="rateForm" (ngSubmit)="markAsRead()">
              <label for="stars">Please provide a rating (between 1 and 5)</label>
              <select name="stars" id="stars" class="form-control" formControlName="stars">
                <option [value]="0.5">1/2 star</option>
                <option [value]="1">1 star</option>
                <option [value]="1.5">1 <sup>1</sup>&frasl;<sub>2</sub> stars</option>
                <option [value]="2">2 stars</option>
                <option [value]="2.5">2 <sup>1</sup>&frasl;<sub>2</sub> stars</option>
                <option [value]="3">3 stars</option>
                <option [value]="3.5">3 <sup>1</sup>&frasl;<sub>2</sub> stars</option>
                <option [value]="4">4 stars</option>
                <option [value]="4.5">4 <sup>1</sup>&frasl;<sub>2</sub> stars</option>
                <option [value]="5">5 stars</option>
              </select>
              <label for="date_read">Completed:</label>
              <input type="date" id="date_read" class="form-control" formControlName="date_read">
              <button type="submit" class="btn btn-outline-dark mt-2">Submit Rating</button>
            </form>
        </div>

        <button class="btn btn-outline-dark mt-2" *ngIf="!isAddedToTBR" (click)="addToTBR()">Add to TBR</button>
        <button class="btn btn-outline-dark mt-2" *ngIf="isAddedToTBR" (click)="removeFromTBR(book._id)">Remove from TBR</button>
        <button class="btn btn-outline-dark mt-2" *ngIf="!isFavouriteBook" (click)="markAsFavourite()">Add to Favourites</button>

        <div class="book-cover-container">
          <div class="book-cover-background" [style.background-image]="'url(' + (book.coverImg || '/images/no_cover.png') + ')'"></div>
          <img [src]="book.coverImg || 'images/no_cover.png'" [alt]="book.title" class="book-cover-img">
        </div>

        <div *ngIf="authService.isAdmin() || authService.isAuthor()"><button (click)="toggleEditCoverImg()">Edit Cover</button></div>

        <div *ngIf="isEditingCoverImg">
          <form [formGroup]="editBookFormCoverImg" (ngSubmit)="onSaveCoverImg()">
            <div>{{ previewUrl }}</div>
            <input type="file" class="form-control" (change)="onFileSelected($event)" />
            <img [src]="previewUrl || '/images/no_cover.jpg'" alt="Cover Preview" class="img-fluid" style="max-height: 200px;">
            <button type="submit" >Save</button>
            <button type="button" (click)="toggleEditCoverImg()">Cancel</button>
          </form>
        </div>
        <div class="card-body book-card-body">
          <!-- Content Details -->
          <div class="row">
            <h4>Content Warning!</h4>
            <div *ngIf="book.triggers?.length > 0" class="trigger-warnings-container">
              <h3 class="trigger-warnings-title">Trigger Warnings:</h3>
              <ul class="trigger-warnings-list">
                <li *ngFor="let trigger of book.triggers">{{ trigger }}</li>
              </ul>
            </div>

            <!-- Button to toggle the visibility of the trigger form -->
            <button class="btn btn-outline-dark ms-auto" (click)="showTriggerForm = !showTriggerForm" type="button">
              Add Content/Trigger Warnings
            </button>

            <!-- The form is shown/hidden based on the showTriggerForm variable -->
            <div *ngIf="showTriggerForm">
              <form [formGroup]="triggerForm" (ngSubmit)="addTriggers()">
                <!-- Label for the trigger input field -->
                <label for="triggers">Enter Trigger Warnings (separate with commas):</label>

                <!-- Input field for trigger warnings -->
                <input
                  type="text"
                  id="triggers"
                  class="form-control"
                  formControlName="triggers"
                  placeholder="e.g., Violence, Abuse, Suicide"
                />

                <!-- Validation message if the trigger field is invalid -->
                <div *ngIf="triggerForm.get('triggers')?.invalid && triggerForm.get('triggers')?.touched" class="text-danger">
                  Please enter at least one trigger warning.
                </div>

                <!-- Submit button for the form, disabled if the form is invalid -->
                <button
                  type="submit"
                  class="btn btn-outline-dark mt-2"
                  [disabled]="triggerForm.invalid"
                >
                  Submit Triggers
                </button>
              </form>
            </div>

            <h4><strong>Description:</strong></h4>
            <div *ngIf="!isEditingDescription">
              <p>{{ book.description }}</p>
              <div *ngIf="authService.isAdmin() || authService.isAuthor()">
                <button (click)="toggleEditDescription()">Edit Description</button>
              </div>
            </div>

            <div *ngIf="isEditingDescription">
              <form [formGroup]="editBookFormDescription" (ngSubmit)="onSaveDescription()">
                <textarea formControlName="description" placeholder="Enter new description"></textarea>
                <button type="submit">Save</button>
                <button type="button" (click)="toggleEditDescription()">Cancel</button>
              </form>
            </div>

            <div class="col-md-8">
              <h4>Characters</h4>
              <ul>
                <li *ngFor="let character of book.characters">
                  <button (click)="filterByCharacter(character)" class="btn btn-link">{{ character }}</button>
                </li>
              </ul>
            </div>
            <h4 style="text-align: center;">Additional Details</h4>
            <div class="col-md-8">
              <p><strong>Publisher:</strong> {{ book.publisher }}</p>
              <div *ngIf="!isEditingPublishDate">
                <p><strong>Published:</strong> {{ book.publishDate || 'Unknown' }}
                   <i>First Published in {{ book.firstPublishDate }}</i>
                </p>
                <div *ngIf="authService.isAdmin() || authService.isAuthor()">
                  <button (click)="toggleEditPublishDate()">Edit</button>
                </div>
              </div>
              <div *ngIf="isEditingPublishDate">
                <form [formGroup]="editBookFormPublishDate" (ngSubmit)="onSavePublishDate()">
                  <input formControlName="publishDate" placeholder="Enter new year of publication" />
                  <button type="submit">Save</button>
                  <button type="button" (click)="toggleEditPublishDate()">Cancel</button>
                </form>
              </div>

              <p><strong>Language:</strong> {{ book.language }}</p>
              <p><strong>Format:</strong> {{ book.bookFormat }}</p>
              <p><strong>Pages:</strong> {{ book.pages }}</p>
              <p><strong>ISBN:</strong> {{ book.isbn }}</p>
              <p><strong>Price:</strong> ${{ book.price }}</p>
              <p><strong>Genres:</strong></p>

              <div *ngIf="!isEditingGenres">
                <li *ngFor="let genre of book.genres">
                  <button (click)="filterByGenre(genre)" class="btn btn-link">{{ genre }}</button>

                </li>
                <div *ngIf="authService.isAdmin() || authService.isAuthor()">
                  <button (click)="toggleEditGenres()">Edit Genres</button>
                </div>

              </div>

              <!--<div *ngIf="isEditingGenres">
                <form [formGroup]="editBookFormGenres" (ngSubmit)="onSaveGenres()">
                  <input formControlName="genres" placeholder="Enter genres" />
                  <button type="submit">Save</button>
                  <button type="button" (click)="toggleEditGenres()">Cancel</button>
                </form>
              </div>-->
              <p><strong>Awards:</strong></p>
              <ul>
                <li *ngFor="let award of book.awards">{{ award }}</li>
              </ul>
              <div class="card-footer">
                <p><strong>User Score:</strong> {{ book.user_score }} out of 5</p>
                <div class="d-flex justify-content-end">
                  <button class="btn btn-link" [routerLink]="['/books', book._id, 'reviews']">Show All Reviews >>></button>
                </div>
                <p><strong>User Reviews:</strong></p>
                <div *ngIf="reviews.length > 0; else noReviews">
                <div *ngFor="let review of topReviews">
                  <div class="row" style="margin-top: 70px">
                    <div class="card bg-light mb-3" style="cursor: pointer" [routerLink]="['/review', review._id]">
                      <div class="card-header"><p>{{ review.name }}</p></div>
                      <div class="card-header"><strong>{{ review.title }}</strong></div>
                      <div class="card-footer">
                        Rating:
                        <span *ngFor="let star of getStarCount(review.stars)">
                          <img *ngIf="star === 0" src="images/star.png" alt="Full Star" style="width: 30px; height: 30px;">
                          <img *ngIf="star === 0.5" src="images/half_star.png" alt="Half Star" style="width: 15px; height: 30px;">
                        </span>
                      </div>
                      <div>Likes: {{ review.likes }} <button (click)="like(review)"><img src="images/like.png" alt="Like" style="width: 20px; height: 20px;"></button></div>
                      <div style="display: right;">Dislikes: {{ review.dislikes }} <button (click)="dislike(review)"><img src="images/dislike.png" alt="Like" style="width: 20px; height: 20px;"></button></div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #noReviews>
                <p>No reviews available for this book.</p>
              </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 same-author-books">
      <h4>Other Books by "{{ book.author[0] }}"</h4>
      <div class="d-flex justify-content-end">
        <button (click)="filterByAuthor(book.author[0])" class="btn btn-link">Show All</button>
      </div>

      <div *ngIf="Same_Author_Books.length === 0">
        <p>No other books by this author</p>
      </div>

      <div class="grid-container">
        <div *ngFor="let book of Same_Author_Books; trackBy: trackBook" class="card text-dark bg-light mb-3 same-author-books-card" style="width: 18rem; margin-right: 10px;">
          <div class="card-body same-author-books-card-body" style="cursor: pointer" [routerLink]="['/books', book._id]">
            <div class="row">
                <img src="{{ book.coverImg }}" alt="{{ book.title }}" class="img-fluid">
            </div>
          </div>
          <div class="card-header">
            <h5>{{ book.title }}</h5>
            <p><strong>Author:</strong> {{ book.author[0] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Title Section -->


  <!-- Description Section -->


  <!-- Genres Section -->


</div>
