.user-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.user-header {
  margin-bottom: 30px;
}

.user-header h4 {
  font-size: 32px;
  margin-bottom: 10px;
}

.user-header p {
  font-size: 18px;
  color: #555;
}

.user-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-card img {
  width: 100%;
  height: 250px;
  object-fit:scale-down;
}

.user-card-body {
  padding: 20px;
}

.user-card-body p {
  font-size: 16px;
  color: #333;
}

.user-card-body ul {
  list-style-type: none;
  padding-left: 0;
}

.user-card-body ul li {
  font-size: 14px;
  color: #666;
}

.reviews-by-user {
  margin-top: 40px;
}

.reviews-by-user h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.grid-container.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive columns */
  gap: 20px;
}

.reviews-by-user-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}




.reviews-by-user-card-body {
  padding: 10px;
}

.reviews-by-user-card-body h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.reviews-by-user-card-body p {
  font-size: 14px;
  color: #777;
}

.reviews-by-user-card-body ul {
  list-style-type: none;
  padding-left: 0;
}

.reviews-by-user-card-body ul li {
  font-size: 14px;
  color: #555;
}

.user-details, .reviews-by-user-card-body {
  padding: 15px;
}

.user-details h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.user-details p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.user-details ul {
  margin-top: 10px;
}

.card-header h4,
.card-header h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-header p {
  font-size: 16px;
  color: #777;
}
