<div class="container profile-container" style="margin-top: 80px;" *ngIf="user">
  <div class="row">
    <div class="col-sm-12">
      <div class="d-flex justify-content-end">
        <button class="btn btn-danger" [routerLink]="['/delete-account']">Delete Account</button>
      </div>
      <div class="card text-dark bg-light mb-3 user-card">
        <div class="card-header profile-header">
          <h4>{{ user.username }}</h4>
          <img [src]="user.profile_pic || '/images/profile.png'" alt="Profile Picture">
          <h3><strong>{{ user.name }}</strong></h3>
          <h5>{{ followersCount }} Followers</h5>
          <h5>{{ followingCount }} Following</h5>
          <p><strong>Pronouns: </strong> {{ user.pronouns }}</p>
          <p><strong>Favourite Genres:</strong> {{ user.favourite_genres.join(', ') || 'None' }}</p>
          <p><strong>Favourite Authors:</strong> {{ user.favourite_authors.join(', ') || 'None' }}</p>
        </div>

        <div *ngIf="favouriteBooks.length > 0" class="book-section mb-4">
          <h5>Favourite Books</h5>
          <div class="book-grid">
            <div *ngFor="let book of favouriteBooks" class="book-card">
              <img [src]="book.coverImg" alt="Book cover" class="favouriteBookCover" style="cursor: pointer" [routerLink]="['/books', book._id]">
              <div class="book-details">
                <p><strong>{{ book.title }}</strong></p>
                <p><em>by {{ book.author.join(', ') }}</em></p>
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-primary" (click)="toggleEdit()">
          {{ isEditing ? 'Cancel Edit' : 'Edit Profile' }}
        </button>

        <div *ngIf="isEditing" class="card-body">
          <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" formControlName="name" class="form-control" type="text">
            </div>

            <div class="form-group">
              <label for="username">Username</label>
              <input id="username" formControlName="username" class="form-control" type="text">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" formControlName="email" class="form-control" type="email">
            </div>

            <div class="form-group">
              <label for="pronouns">Pronouns</label>
              <select id="pronouns" class="form-control" formControlName="pronouns">
                <option value="he/him">He/Him</option>
                <option value="she/her">She/Her</option>
                <option value="they/them">They/Them</option>
                <option value="prefer not to say">Prefer not to say</option>
              </select>
            </div>

            <div class="form-group">
              <label for="favourite_genres">Favourite Genres</label>
              <input type="text" name="favourite_genres" id="favourite_genres" class="form-control" formControlName="favourite_genres" />
              <input id="genresSearch" type="text" formControlName="genreSearch" (keyup)="onSearchGenres()" class="form-control" placeholder="Search genres..." />
              <div *ngIf="filteredGenres.length > 0" class="genre-results">
                <ul>
                  <li *ngFor="let genre of filteredGenres" (click)="toggleGenre(genre)" [class.selected]="selectedGenres.includes(genre)">
                    {{ genre }}
                  </li>
                </ul>
              </div>
            </div>

            <div class="form-group">
              <label for="favourite_authors">Favourite Authors</label>
              <input type="text" name="favourite_authors" id="favourite_authors" class="form-control" formControlName="favourite_authors" />
              <input id="authorsSearch" type="text" formControlName="authorSearch" (keyup)="onSearchAuthors()" class="form-control" placeholder="Search authors..." />
              <div *ngIf="filteredAuthors.length > 0" class="author-results">
                <ul>
                  <li *ngFor="let author of filteredAuthors" (click)="toggleAuthor(author)" [class.selected]="selectedAuthors.includes(author)">
                    {{ author }}
                  </li>

                </ul>
              </div>
            </div>

            <div *ngIf="selectedGenres.length > 0">
              <p><strong>Selected Genres:</strong>
                <span *ngFor="let genre of selectedGenres; let i = index">
                  <span>{{ genre }}</span>
                  <button (click)="removeGenre(genre)" class="btn btn-link">Remove</button>
                  <span *ngIf="i < selectedGenres.length - 1">, </span>
                </span>
              </p>
            </div>

            <div *ngIf="selectedAuthors.length > 0">
              <p><strong>Selected Authors:</strong>
                <span *ngFor="let author of selectedAuthors; let i = index">
                  <span>{{ author }}</span>
                  <button (click)="removeAuthor(author)" class="btn btn-link" style="padding: 0; font-size: 14px; color: #007bff; text-decoration: none;">Remove</button>
                  <span *ngIf="i < selectedAuthors.length - 1">, </span>
                </span>
              </p>
            </div>




            <div *ngIf="previewUrl">
              <p><strong>Image URL:</strong> {{ previewUrl }}</p>
              <h5>Preview of selected profile picture:</h5>
              <img [src]="previewUrl || '/images/profile.png'" alt="Profile Picture Preview" class="img-fluid" style="max-height: 200px;">
            </div>

            <input type="file" formControlName="profile_pic" class="form-control" (change)="onFileSelected($event)" />
            <button type="submit" [disabled]="editProfileForm.invalid" class="btn btn-primary">Save Changes</button>
          </form>
        </div>


        <div *ngIf="book_awards.length > 0" class="book-section mb-4">
          <h4>My Awards</h4>
          <div class="book-grid">
            <div *ngFor="let award of book_awards" class="book-card">
              <ng-container [ngSwitch]="award">
                <img *ngSwitchCase="'First Book Read'" src="/images/1book.png" alt="First Book Read Award" class="award-image">
                <img *ngSwitchCase="'5 Books Read'" src="/images/5books.png" alt="5 Books Read Award" class="award-image">
                <img *ngSwitchCase="'10 Books Read'" src="/images/10books.png" alt="10 Books Read Award" class="award-image">
                <img *ngSwitchCase="'25 Books Read'" src="/images/25books.png" alt="25 Books Read Award" class="award-image">
                <img *ngSwitchCase="'50 Books Read'" src="/images/50books.png" alt="50 Books Read Award" class="award-image">
                <img *ngSwitchCase="'100 Books Read'" src="/images/100books.png" alt="100 Books Read Award" class="award-image">
                <span *ngSwitchDefault>{{ award }}</span>
              </ng-container>
              <div class="award-text">{{ award }}</div>
            </div>
          </div>
        </div>


        <h4>My Bookshelf</h4>

        <div *ngIf="currentlyReading.length > 0" class="book-section mb-4">
          <h5>Current Reads</h5>
          <div class="d-flex justify-content-end">
            <button class="btn btn-link" [routerLink]="['/currently-reading']">Show Current Reads >>></button>
          </div>
          <div class="book-grid">
            <div *ngFor="let book of currentlyReading" class="book-card">
              <img [src]="book.coverImg" alt="Book cover" class="book-cover">
              <div class="book-details" style="cursor: pointer" [routerLink]="['/currently-reading']">
                <p><strong>{{ book.title }}</strong></p>
                <p><em>by {{ book.author.join(', ') }}</em></p>
                <p><strong>Progress:</strong> {{ book.progress }}%</p>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="have_read_books.length > 0" class="book-section mb-4">
          <h5>Have Read List</h5>
          <div class="d-flex justify-content-end">
            <button class="btn btn-link" [routerLink]="['/have-read']">Show All >>></button>
          </div>
          <div class="book-grid">
            <div *ngFor="let book of have_read_books" class="book-card">
              <img [src]="book.coverImg" alt="Book cover" class="book-cover" style="cursor: pointer" [routerLink]="['/books', book._id]">
              <div class="book-details">
                <p><strong>{{ book.title }}</strong></p>
                <p><em>by {{ book.author.join(', ') }}</em></p>
                <div class="rating">
                  <span *ngFor="let star of getStarCount(book.stars)">
                    <img *ngIf="star === 0" src="images/star.png" alt="Full Star" class="star-icon">
                    <img *ngIf="star === 0.5" src="images/half_star.png" alt="Half Star" class="star-icon half-star">
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="tbrBooks.length > 0" class="book-section mb-4">
          <h5>TBR List</h5>
          <div class="d-flex justify-content-end">
            <button class="btn btn-link" [routerLink]="['/want-to-read']">Show All >>></button>
          </div>
          <div class="book-grid">
            <div *ngFor="let book of tbrBooks" class="book-card">
              <img [src]="book.coverImg" alt="Book cover" class="book-cover" style="cursor: pointer" [routerLink]="['/books', book._id]">
              <div class="book-details">
                <p><strong>{{ book.title }}</strong></p>
                <p><em>by {{ book.author.join(', ') }}</em></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
