<div class="container" style="margin-top: 80px;">
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <button (click)="handleWriteReviewClick()" class="btn btn-secondary">
        Write a Review
      </button>

      <div *ngIf="showReviewForm">
        <h2>Review this Book</h2>
        <p><strong>DISCLAIMER</strong> You are about to post a review for this book.</p>
          <p>This will affect the user score so please be as detailed and constructive as you can.</p>
          <p>Only one review per user. If you want to make a new reveiw, you will have to delete your old one.</p>
          <p>Any malicious or spam reviews will be deleted.</p>


        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Name</label>
            <input
              type="text"
              name="username"
              id="username"
              class="form-control"
              formControlName="username"
              [value]="loggedInUserName"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="title">Title of your Review <i style="font-size: 0.8em;">*Optional</i></label>
            <textarea
              name="text"
              id="title"
              class="form-control"
              formControlName="title"
              [ngClass]="{'error': isInvalid('title')}">
          </textarea>
          </div>
          <div class="form-group">
            <label for="comment">Please leave your review below (<i>Min: 1,000 Characters</i>)</label>
            <textarea
              name="comment"
              id="comment"
              class="form-control"
              formControlName="comment"
              [ngClass]="{'error': isInvalid('comment')}">
            </textarea>
            <div class="char-count" [ngClass]="{'error-count': reviewForm.controls.comment.value?.length < 1000}">
              <p>{{ reviewForm.controls.comment.value?.length }} characters entered</p>
            </div>
          </div>
          <div class="form-group">
            <label for="stars">Please provide a rating (between 1 and 5)</label>
            <select
              name="stars"
              id="stars"
              class="form-control"
              formControlName="stars">
              <option value="0.5">1/2 star</option>
              <option value="1">1 star</option>
              <option value="1.5">1 <sup>1</sup>&frasl;<sub>2</sub> stars</option>
              <option value="2">2 stars</option>
              <option value="2.5">2 <sup>1</sup>&frasl;<sub>2</sub> stars</option>
              <option value="3">3 stars</option>
              <option value="3.5">3 <sup>1</sup>&frasl;<sub>2</sub> stars</option>
              <option value="4">4 stars</option>
              <option value="4.5">4 <sup>1</sup>&frasl;<sub>2</sub> stars</option>
              <option value="5">5 stars</option>
            </select>
          </div>
          <span *ngIf="isIncomplete()">
            You must complete all fields
          </span>
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <button *ngIf="!isIncomplete()" class="btn btn-primary"
            type="submit"
            style="margin-top: 20px">Submit
          </button>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="loading" class="loading-spinner">
    <div class="spinner-border text-dark" role="status">
    </div>
    <span class="loading-text">Loading...</span>
  </div>


<div class="reviews-container">
  <h1>All Reviews</h1>
  <div *ngIf="reviews.length > 0; else noReviews">
    <div *ngFor="let review of reviews; trackBy: trackReview" class="review-card">
      <div class="card-footer">
        <span *ngFor="let star of getStarCount(review.stars)">
          <img *ngIf="star === 0" src="images/star.png" alt="Full Star" style="width: 30px; height: 30px;">
          <img *ngIf="star === 0.5" src="images/half_star.png" alt="Half Star" style="width: 15px; height: 30px;">
        </span>
      </div>
      <h3>{{ review.title }}</h3>
      <p><strong>Written By:</strong> {{ review.username }}</p>
      <p><strong>Uploaded:</strong> {{ review.created_at }}</p>
      <p style="cursor: pointer">
        {{ review.showFullComment ? review.comment : (review.comment | slice:0:200) + '...' }}
        <a [routerLink]="['/review', review._id]" class="show-more">Show More</a>
      </p>
      <div>Likes: {{ review.likes }} <img src="images/like.png" alt="Like" style="width: 20px; height: 20px;"></div>
      <div>Dislikes: {{ review.dislikes }} <img src="images/dislike.png" alt="Like" style="width: 20px; height: 20px;"></div>
      <div *ngIf="review.username === loggedInUserName || authService.isAdmin()">
        <button (click)="deleteReview(review)" class="btn btn-danger">Delete</button>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
    </div>


  </div>
  <ng-template #noReviews>
    <p>No reviews available for this book.</p>
  </ng-template>
</div>
</div>
