<div class="book-container">
  <h2>Recommended Books</h2>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="!errorMessage && recommendations.length === 0" class="no-recommendations">
    <p>No recommendations available.</p>
  </div>

  <div *ngIf="!errorMessage && recommendations.length > 0">
    <!-- Loop over different genres -->
    <div class="genre-section" *ngFor="let genre of getGenres()">
      <h3>{{ genre }} Books</h3>
      <div class="genre-row">
        <div *ngFor="let book of getBooksByGenre(genre)" class="book-card">
          <img [src]="book.coverImg" alt="Book Cover" class="book-cover" style="cursor: pointer" [routerLink]="['/books', book._id]" />
          <div class="book-details" style="cursor: pointer" [routerLink]="['/books', book._id]">
            <h2>{{ book.title }}</h2>
            <p>by {{ isArrayOfAuthors(book.author) ? book.author.join(', ') : book.author }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Books by the same author -->
    <div *ngIf="sameAuthorBooks.length > 0" class="author-section">
      <h3>More Books Written by {{ recommendations[0]?.author || 'Unknown Author' }}</h3>
      <div class="author-row">
        <div *ngFor="let book of sameAuthorBooks" class="book-card">
          <img [src]="book.coverImg" alt="Book Cover" class="book-cover" style="cursor: pointer" [routerLink]="['/books', book._id]" />
          <div class="book-details" style="cursor: pointer" [routerLink]="['/books', book._id]">
            <h2>{{ book.title }}</h2>
            <p>by {{ isArrayOfAuthors(book.author) ? book.author.join(', ') : book.author }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button [disabled]="page === 1" (click)="previousPage()">Previous</button>
    <span>Page {{ page }}</span>
    <button (click)="nextPage()">Next</button>
  </div>
</div>
